body, html {
  font-family: Arial, sans-serif;
  padding: 5px;
  background-color: #ECEFF1;
}

#app {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-width: 1000px;
  margin: 10px auto;
}

input[type="text"] {
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 18px);
}

button {
  background-color: #03916d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#key-section, #add-section {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

#key-section input, #add-section input {
  flex-grow: 1;
  margin-right: 10px;
}

.mui-btn--raised {
  cursor: pointer;
}

.card {
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card h2 {
  margin-top: 0;
}

.timezone-selection {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.timezone-label {
  margin-right: 10px;
  font-weight: bold;
}

.mui-select {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}
